* {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1280px;
  background: #38404B;
  border-radius: 65px;
  padding: 75px;
  margin: 30px auto;

  h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #94ADCF;
  }
}
